@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}

.system-container{
    margin-left: 280px; /* Đẩy dashboard ra bên phải để không bị chồng lên sidebar */
  background-color: #F0F8FF; /* Màu nền của dashboard */
  flex: 1; /* Chiếm không gian còn lại */
  overflow-y: auto; /* Cho phép cuộn dọc */
  height: 100vh; /* Chiều cao bằng chiều cao màn hình */

}

.owner-container{
    margin-left: 280px; /* Đẩy dashboard ra bên phải để không bị chồng lên sidebar */
  background-color: #F0F8FF; /* Màu nền của dashboard */
  flex: 1; /* Chiếm không gian còn lại */
  overflow-y: auto; /* Cho phép cuộn dọc */
  height: 100vh; /* Chiều cao bằng chiều cao màn hình */

}